/* body style */
body {
font-family: 'Poppins', sans-serif;
margin: 0px;
padding: 0px;
}

h2{
    font-size: 35px;
}

h3{
    margin: 10px;
    font-size: 25px;
}

p{
    font-size: 17px;
    text-align: justify;
    padding: 5px;
}

a{
    font-size: 22px;
}

            /* container area star */
#container {
    background-color: rgb(13, 81, 87);
    display: flex;
    justify-content: space-around;
}

#container {
    color: white;
    padding-bottom: 5%;
}
.element1 {
    width: 70%;
    padding-left: 10%;
    margin-top: 100px;
}
.element2 img {
    margin-top: 70px;
    padding-left: 15%;
    width: 70%;
}

.button  {
text-decoration: none;
color: rgb(9, 241, 218);
border: 3px solid rgb(9, 241, 218);
border-radius: 25px;
margin-top: 5px;
padding: 8px 20px;
}

.button:hover {
    background-color: rgb(9, 241, 218);
    color: black;
    transition: 0.8s;
}


            /* blog-area start */
#blog-area{
    padding-top: 30px;
    padding-bottom: 100px;
}
#blog-area h2 {
    padding: 30px 0px 30px 65px;
    color: rgb(13, 81, 87);
    text-decoration: underline;
}
 .full-content {
    display: flex;
    justify-content: center;
}

.blogs {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.blog {
    width: 90%;
    padding: 15px;
    box-shadow: 4px 2px 24px 0px rgba(104, 104, 104, 0.53);
}

.blog img{
    width: 350px;
}

/* footer style */
footer{
    background-color: rgb(13, 81, 87);
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-content {
    text-align: center;
}
footer  p{
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 22px;
}
.footer-img img {
    width: 15%;
}

.icon i{
    font-size: 35px;
    padding: 5px;
    color: white;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* media quries styles */
@media only screen and (max-width: 770px) {
    .blogs {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    h2{
        font-size: 25px;
    }

    p{
        font-size: 10px;
        text-align: justify;
        padding: 1px;
    }

    a{
        font-size: 12px;
    }

    .button  {
        text-decoration: none;
        color: rgb(9, 241, 218);
        border: 3px solid rgb(9, 241, 218);
        border-radius: 25px;
        margin-top: 5px;
        }

        #container{
            display: flex;
            flex-direction: column;
        }

        .element1 {
            margin-top: 40px;
        }




  }

  @media only screen and (max-width: 480px) {
    .blogs {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
  }